.footer {
  display: flex;
  background-image: url('../../public/images/7629398.jpg');
  width: auto;
  height: 100vh;
  background-size: cover;
  align-items: flex-end;
  justify-content: center;
  color: #000;
}

.footer p {
  margin-bottom: 10px;
}